<div class="container">
    <h1>About</h1>
    <h2>This is the about page of twitter</h2>
    <p>Twitter is a global social media platform where users post brief messages, or “tweets”.  Users can share text, images, and videos, and engage with others through replies, retweets, and likes. Twitter also offers direct messaging and has features like bookmarks, lists, and communities. It’s known for its character limit on posts, encouraging concise communication. It’s widely used for news dissemination, public discourse, and real-time commentary on live events.</p>
</div>