<script>
    function submitButton() {
        document.getElementById("message-submited").style.display = "block";
    }

    function closeAlert() {
        document.getElementById("message-submited").style.display = "none";
    }
</script>

<div class="container">
    <h1>Contact</h1>
    <div class="row">
        <div class="col-1">
            <p>Name: </p>
        </div>
        <div class="col-3">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <p>Email: </p>
        </div>
        <div class="col-3">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <p>Message: </p>
        </div>
        <div class="col-3">
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-4 d-flex justify-content-end">
            <button type="button" class="btn btn-info" onclick="submitButton()">Submit</button>
        </div>
    </div>
    <div class="row">
        <div class="alert alert-success col-5 alert-dismissible fade show" role="alert" id="message-submited" style="display: none;">
            <div class="d-flex justify-content-between">
                <div>
                    Thank you for your message, we will contact you soon.
                </div>
                <div>
                    <button type="button" class= "close" onclick="closeAlert()">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
